.DS_Store
.Trash-*
desktop.ini
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.sql
*.sqlite
*.db
.env
.env.*.local
.aws/credentials
*.gcp.json
.npm
.yarn/*
package-lock.json.old
yarn.lock.old
tmp/
temp/
*.tmp
dist/
build/
out/
coverage/
reports/
artifacts/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
*~
*.swp
*.swo
*.pdf
*.docx

